force-app/main/default/flows/vxAddDependent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_family_record</name>
        <label>Add family record</label>
        <locationX>2766</locationX>
        <locationY>1932</locationY>
        <assignmentItems>
            <assignToReference>family_member_contact_record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>family_member_contact_record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>family_member_contact_record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Family_member_record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>family_member_contact_record.HealthCloudGA__Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GenderPick</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>family_member_contact_record.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_birth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Person_Account_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_family_record_0</name>
        <label>Assign new Family Member AccountId</label>
        <locationX>3165</locationX>
        <locationY>1932</locationY>
        <assignmentItems>
            <assignToReference>Family_member_record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FamilyMemberAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_family_member_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_family_record_0_0</name>
        <label>Add family record P0</label>
        <locationX>3398</locationX>
        <locationY>1263</locationY>
        <assignmentItems>
            <assignToReference>Family_member_record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_Household_members_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Household_members_0</name>
        <label>Append Household members</label>
        <locationX>3129</locationX>
        <locationY>1663</locationY>
        <assignmentItems>
            <assignToReference>AllHouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PatientFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllHouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleSpace</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllHouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PatientLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllHouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Family_member_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Household_members_0_0</name>
        <label>Append Household members 2</label>
        <locationX>3155</locationX>
        <locationY>2181</locationY>
        <assignmentItems>
            <assignToReference>AllHouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SpaceValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllHouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>family_member_contact_record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllHouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleSpace</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllHouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>family_member_contact_record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllHouseholdMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ThankMemberDetailScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Returned_Household_Account</name>
        <label>Assign Returned Household Account</label>
        <locationX>2463</locationX>
        <locationY>1474</locationY>
        <assignmentItems>
            <assignToReference>HouseholdAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnedHouseholdId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Family_member_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_patientId</name>
        <label>Assign to patientId</label>
        <locationX>1385</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>PatientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPrimaryPatientDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_family_member_0</name>
        <label>Collect family member 2</label>
        <locationX>3381</locationX>
        <locationY>1933</locationY>
        <assignmentItems>
            <assignToReference>Family_member_details_for_Account</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Family_member_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetFamilyMemberContactId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Person_Account_Name</name>
        <label>Person Account Name</label>
        <locationX>2908</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>Family_member_record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Family_member_record.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleSpace</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Family_member_record.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fm_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubFlow_AddDependent_Assessment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>RadioChoiceFalse</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>RadioChoiceTrue</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes I have family members living with me and I am willing to share their information for further monitoring</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>Converted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - Converted</stringValue>
        </value>
    </constants>
    <constants>
        <name>Enrolled_Value</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Enrolled</stringValue>
        </value>
    </constants>
    <constants>
        <description>Case Description to use for the assessment case created</description>
        <name>HCCR_Assessment_Case_Description</name>
        <dataType>String</dataType>
        <value>
            <stringValue>This case was automatically created by completing an Covid Assessment</stringValue>
        </value>
    </constants>
    <constants>
        <name>HCCR_Assessment_Case_Origin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </constants>
    <constants>
        <description>This constant represents the Salesforce Record ID for the HCCR Assessment Case Record Type value</description>
        <name>HCCR_Assessment_Case_Record_Type</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0123h000000Tb2YAAS</stringValue>
        </value>
    </constants>
    <constants>
        <description>The Subject Line for the case record to be created</description>
        <name>HCCR_Assessment_Case_Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Covid Assessment</stringValue>
        </value>
    </constants>
    <constants>
        <name>Italy</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Italy</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Add_more_family_members</name>
        <label>Add more family members</label>
        <locationX>2016</locationX>
        <locationY>1675</locationY>
        <defaultConnector>
            <targetReference>FinalFLowScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_family_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_another_household_member</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Family_member_details</targetReference>
            </connector>
            <label>Add family members</label>
        </rules>
    </decisions>
    <decisions>
        <name>Custom_Metadata_Check</name>
        <label>Custom Metadata Check</label>
        <locationX>2897</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>Patient_Record_Fetch_Try</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Metadata_Missing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CustomMetadataRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AuthorizationFormDataUseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PersonAccountRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HouseholdRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ParamErrorScreen_0</targetReference>
            </connector>
            <label>Metadata Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Patient_Record</name>
        <label>Found Patient Record</label>
        <locationX>1799</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>Final_Screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Patient_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientIdFromRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_patientId</targetReference>
            </connector>
            <label>Patient Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>HousholdExists</name>
        <label>HousholdExists</label>
        <locationX>2333</locationX>
        <locationY>1267</locationY>
        <defaultConnector>
            <targetReference>Assign_Returned_Household_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Houshold_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReturnedHouseholdId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateHouseholdAccount</targetReference>
            </connector>
            <label>Houshold does not exist</label>
        </rules>
    </decisions>
    <description>Full System Access. Simplified Reg Ex on Phone. Removed Scheduling Sub-flow. Update Occupation and Relationship Defaults</description>
    <dynamicChoiceSets>
        <name>AcrRoles</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Roles</picklistField>
        <picklistObject>AccountContactRelation</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CareProgramsList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>10</limit>
        <object>CareProgram</object>
        <outputAssignments>
            <assignToReference>PersonAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactGenderPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OccupationChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Occupation__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TestIt</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>CareProgram</object>
        <outputAssignments>
            <assignToReference>PersonAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CollectedMembersFormula</name>
        <dataType>String</dataType>
        <expression>TRIM(MID(TRIM({!AllHouseholdMembers}), 0, LEN(TRIM({!AllHouseholdMembers})) - 1))</expression>
    </formulas>
    <formulas>
        <name>DueDateCalculated</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <formulas>
        <name>PatientAgeNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE(LEFT({!PatientAge},Find(&quot; &quot;, {!PatientAge})-1))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>vxAddDependant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Household Dependents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AddPrimaryPatientToHousehold</name>
        <label>AddPrimaryPatientToHousehold</label>
        <locationX>3127</locationX>
        <locationY>1262</locationY>
        <connector>
            <targetReference>Add_family_record_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>HouseholdAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>PrimaryPatientContactId</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordCreates>
    <recordCreates>
        <name>AttachToHouseholdViaACR</name>
        <label>AttachToHouseholdViaACR</label>
        <locationX>3537</locationX>
        <locationY>2179</locationY>
        <connector>
            <targetReference>Append_Household_members_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>HouseholdAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>FamilyMemberContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>Relationship_with_patient</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordCreates>
    <recordCreates>
        <name>CreateHouseholdAccount</name>
        <label>CreateHouseholdAccount</label>
        <locationX>2798</locationX>
        <locationY>1262</locationY>
        <assignRecordIdToReference>HouseholdAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>AddPrimaryPatientToHousehold</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!PatientFirstName} {!PatientLastName} Household</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>HouseholdRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Auth_Form_Data_Use_Record</name>
        <label>Auth Form Data Use Record</label>
        <locationX>2099</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FetchHouseholdRecordType_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomMetadataRecord.HealthCloudGA__Consent_Auth_Data_Form_Use__c</elementReference>
            </value>
        </filters>
        <object>AuthorizationFormDataUse</object>
        <outputAssignments>
            <assignToReference>AuthorizationFormDataUseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Care_Program_Record_found</name>
        <label>Care Program Record found</label>
        <locationX>1673</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Date_use_purpoose_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomMetadataRecord.HealthCloudGA__Care_Program__c</elementReference>
            </value>
        </filters>
        <object>CareProgram</object>
        <outputAssignments>
            <assignToReference>SelectedCareProgramId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CheckIfHouseholdAccountExists</name>
        <label>CheckIfHouseholdAccountExists</label>
        <locationX>1961</locationX>
        <locationY>1266</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HousholdExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingHousholdAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HouseholdRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ReturnedHouseholdId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Date_use_purpoose_record</name>
        <label>Date use purpoose record</label>
        <locationX>1874</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Auth_Form_Data_Use_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomMetadataRecord.HealthCloudGA__Consent_Data_Use_Purpose__c</elementReference>
            </value>
        </filters>
        <object>DataUsePurpose</object>
        <outputAssignments>
            <assignToReference>DataUsePurposeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Existing_ACR</name>
        <label>Fetch Existing ACR</label>
        <locationX>1717</locationX>
        <locationY>1266</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfHouseholdAccountExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryPatientContactId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>ExistingHousholdAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FetchHouseholdRecordType_0_0</name>
        <label>FetchHouseholdRecordType</label>
        <locationX>2172</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPersonAccountRecordTypeId_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IndustriesHousehold</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>HouseholdRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata</name>
        <label>Get Metadata</label>
        <locationX>1355</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Queue_Record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomMetadataName</elementReference>
            </value>
        </filters>
        <object>HealthCloudGA__Clinical_Assessment_Setting__mdt</object>
        <outputReference>CustomMetadataRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HealthCloudGA__Care_Program__c</queriedFields>
        <queriedFields>HealthCloudGA__Consent_Auth_Data_Form_Use__c</queriedFields>
        <queriedFields>HealthCloudGA__Consent_Data_Use_Purpose__c</queriedFields>
        <queriedFields>HealthCloudGA__Patient_RecordType_Name__c</queriedFields>
        <queriedFields>HealthCloudGA__Assessment_Task_Queue__c</queriedFields>
        <queriedFields>HealthCloudGA__Household_Consent_Auth_Data_Form_Use__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContactOfPatient</name>
        <label>GetContactOfPatient</label>
        <locationX>1411</locationX>
        <locationY>1267</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Existing_ACR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PatientFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PatientAge</assignToReference>
            <field>HealthCloudGA__Age__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryPatientConditionStatus</assignToReference>
            <field>HealthCloudGA__ConditionStatus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PatientGender</assignToReference>
            <field>HealthCloudGA__Gender__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryPatientContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PatientLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetFamilyMemberContactId</name>
        <label>GetFamilyMemberContactId</label>
        <locationX>3535</locationX>
        <locationY>1941</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AttachToHouseholdViaACR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FamilyMemberAccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>FamilyMemberContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPersonAccountRecordTypeId_0_0</name>
        <label>GetPersonAccountRecordTypeId</label>
        <locationX>2358</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Intake_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomMetadataRecord.HealthCloudGA__Patient_RecordType_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PersonAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPrimaryPatientDetails</name>
        <label>GetPrimaryPatientDetails</label>
        <locationX>901</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactOfPatient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PrimaryPatientEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Patient_Record_Fetch_Try</name>
        <label>Patient Record Fetch Try</label>
        <locationX>2556</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Patient_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PatientIdFromRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PatientName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Task_ContactTracing_Record_Type</name>
        <label>Task ContactTracing Record Type</label>
        <locationX>2685</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Custom_Metadata_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactTracingTaskRecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TaskContactTracingRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Task_Intake_Record_Type</name>
        <label>Task Intake Record Type</label>
        <locationX>2523</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_ContactTracing_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntakeTaskRecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TaskIntakeRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Task_Queue_Record_found</name>
        <label>Task Queue Record found</label>
        <locationX>1509</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FetchHouseholdRecordType_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomMetadataRecord.HealthCloudGA__Assessment_Task_Queue__c</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>TaskQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Family_member_details</name>
        <label>Family member details</label>
        <locationX>2766</locationX>
        <locationY>1663</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_family_record</targetReference>
        </connector>
        <fields>
            <name>HouseholdCollection</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Household Member for {!PatientFirstName} {!PatientLastName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fm_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fm_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fm_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter a valid phone number.&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Fm_Phone}, &quot;\\d*$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Fm_Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter a valid email address.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Fm_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Date_of_birth</name>
            <dataType>Date</dataType>
            <fieldText>Birthdate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GenderPick</name>
            <choiceReferences>ContactGenderPicklistValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Relationship_with_patient</name>
            <choiceReferences>AcrRoles</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Spouse/Partner</stringValue>
            </defaultValue>
            <fieldText>Relationship</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Occupation</name>
            <choiceReferences>OccupationChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Other</stringValue>
            </defaultValue>
            <fieldText>Occupation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen_0</name>
        <label>Final Screen</label>
        <locationX>1807</locationX>
        <locationY>591</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GeneralErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Hmm, something’s not right. Your Salesforce admin can help with that.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinalFLowScreen</name>
        <label>FinalFLowScreen</label>
        <locationX>1598</locationX>
        <locationY>1676</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinalScreen</name>
            <fieldText>&lt;p&gt;Thanks for participating in this assessment. We&apos;re with you every step of the way and will contact you soon.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ParamErrorScreen_0</name>
        <label>ParamErrorScreen</label>
        <locationX>2907</locationX>
        <locationY>132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ParamError_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Hmm, something’s not right. Your Salesforce admin can help with that.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ThankMemberDetailScreen</name>
        <label>ThankMemberDetailScreen</label>
        <locationX>2357</locationX>
        <locationY>2109</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_more_family_members</targetReference>
        </connector>
        <fields>
            <name>HHheading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Household Contacts for {!PatientFirstName} {!PatientLastName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SoFarCollectedMembers</name>
            <fieldText>&lt;p&gt;You added the following household members:&lt;b&gt; &lt;/b&gt;{!CollectedMembersFormula}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_another_household_member</name>
            <dataType>Boolean</dataType>
            <fieldText>Add another household member</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>651</locationX>
        <locationY>187</locationY>
        <connector>
            <targetReference>Get_Metadata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SubFlow_AddDependent_Assessment</name>
        <label>SubFlow: AddDependent Assessment</label>
        <locationX>2954</locationX>
        <locationY>2067</locationY>
        <connector>
            <targetReference>Add_family_record_0</targetReference>
        </connector>
        <flowName>vxSubFlow_AddDependentAssessment</flowName>
        <inputAssignments>
            <name>OccupationValue</name>
            <value>
                <elementReference>OccupationChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PatientAccountRecord</name>
            <value>
                <elementReference>Family_member_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PatientContactRecord</name>
            <value>
                <elementReference>family_member_contact_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PersonAccountRecordTypeName</name>
            <value>
                <elementReference>CustomMetadataRecord.HealthCloudGA__Patient_RecordType_Name__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FamilyMemberAccountId</assignToReference>
            <name>PatientId</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>HouseholdInfoTaskTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Collect Household  Information for  {!PrimaryPatientEmail}, {!PatientFirstName} {!PatientLastName}</text>
    </textTemplates>
    <textTemplates>
        <name>TaskDescForExternalContact</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Collect external Contact Information for {!PrimaryPatientEmail},  {!PatientFirstName} {!PatientLastName}</text>
    </textTemplates>
    <variables>
        <name>AllHouseholdMembers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthFormConsentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthFormDataUseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormDataUseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormDataUseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationFormRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CareProgramName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CareProgramRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CareProgram</objectType>
    </variables>
    <variables>
        <name>CaseInvestigationContext</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CaseInvestigationStarted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ClinicalAssessmentResponseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConsentFormText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsentReceived</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactTracingTaskRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Contact Tracing</stringValue>
        </value>
    </variables>
    <variables>
        <name>CPIdFromDataUsePurpose</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomMetadataName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Clinical Assessment Flow Setting</stringValue>
        </value>
    </variables>
    <variables>
        <name>CustomMetadataRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthCloudGA__Clinical_Assessment_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>DataAuthFormTextRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DataUsePurposeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DataUsePurposeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DataUsePurposeRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnrolleeIdAlreadyExists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingHousholdAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>family_member_contact_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Family_member_details_for_Account</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Family_member_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>FamilyMemberAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FamilyMemberContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>familyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>HCCR_Person</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>HouseholdAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HouseholdRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IntakeTaskRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Intake</stringValue>
        </value>
    </variables>
    <variables>
        <name>isMinor</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Lead_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Lead_record_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadStatusValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Parent_Flow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientAge</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientAssessmentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Symptomatic</stringValue>
        </value>
    </variables>
    <variables>
        <name>PatientFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientGender</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PatientIdFromRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ERM_Patient</stringValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryPatientConditionStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryPatientContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryPatientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReturnedExistingConsentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnedHouseholdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCareProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleSpace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>  </stringValue>
        </value>
    </variables>
    <variables>
        <name>SpaceValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>    </stringValue>
        </value>
    </variables>
    <variables>
        <name>TaskContactTracingRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskIntakeRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G3c000003B0no</stringValue>
        </value>
    </variables>
    <variables>
        <name>testRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varCaseRTObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>varPARecordFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
