force-app/main/default/flows/vxUser_Vaccination_Site.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Updates Output values</description>
        <name>Update_Vaccine_Site_Resource</name>
        <label>Update Vaccine Site Resource</label>
        <locationX>675</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>VaccineSiteResources.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedVaccinationSiteAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VaccineSiteResources.Default_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VaccineSiteResources.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UserId</name>
        <label>UserId</label>
        <locationX>176</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>CurrentUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Users_Vaccination_Site</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines if a User is allocated to a Vaccination Site. If they are not one is allocated. The Vaccine Site determines the Asset Records displayed to the User and the Lot/Batch Number recorded as part of the vaccination administration</description>
        <name>Choose_Vaccination_Site</name>
        <label>Choose Vaccination Site</label>
        <locationX>447</locationX>
        <locationY>204</locationY>
        <defaultConnector>
            <targetReference>Select_a_Vaccination_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has no associated Vaccination Site</defaultConnectorLabel>
        <rules>
            <name>User_Associated_with_Vaccination_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VaccineSiteResources.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>User Associated with Vaccination Site</label>
        </rules>
    </decisions>
    <description>Sets the Vaccination Site (Clinic, Facility or Location) of the User. This determines the Vaccine Asset record and Batch Numbers used during the vaccine administration</description>
    <dynamicChoiceSets>
        <name>ListVaccinationSite</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vaccination Site</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SelectedVaccinationSiteAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Vaccinator {!VaccineSiteResources.User__r.FirstName}  {!VaccineSiteResources.User__r.LastName} is assigned to Vaccination Site {!VaccineSiteResources.Account__r.Name}. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Vaccination Site</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Vaccination_Site_Resource</name>
        <label>Create Vaccination Site Resource</label>
        <locationX>676</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Vaccine_Site_Resource</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>SelectedVaccinationSiteAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Site__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <object>vxVaccination_Site_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the Vaccination Site Associated with this User</description>
        <name>Get_Users_Vaccination_Site</name>
        <label>Get Users Vaccination Site</label>
        <locationX>306</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Vaccination_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Default_Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>vxVaccination_Site_Resource__c</object>
        <outputReference>VaccineSiteResources</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>User__c</queriedFields>
        <queriedFields>Default_Site__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Requests User to Select a Vaccination Site</description>
        <name>Select_a_Vaccination_Site</name>
        <label>Select a Vaccination Site</label>
        <locationX>452</locationX>
        <locationY>432</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Vaccination_Site_Resource</targetReference>
        </connector>
        <fields>
            <name>Choose_a_Vaccination_Site</name>
            <choiceReferences>ListVaccinationSite</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a Vaccination Site</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>UserId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Select an Account of type &apos;Vaccination Site&apos;</description>
        <name>ListVaccinationSites</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Id of Account selected Vaccination Site</description>
        <name>SelectedVaccinationSiteAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectVaccinationSite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Vaccines Site Resource Records: Users and Associated Vaccination Sites</description>
        <name>VaccineSiteResources</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>vxVaccination_Site_Resource__c</objectType>
    </variables>
</Flow>
