force-app/main/default/flows/vxVaccine_Administration_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Assigns an existing patient schedule id to the variable</description>
        <name>Assign_existing_Patient_Vaccine_Schedule_Id</name>
        <label>Assign existing Patient Vaccine Schedule Id</label>
        <locationX>1168</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>varPatientVaccineScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>choiceCurrentPatientVaccineSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Patient_Vaccine_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Vaccine_Product</name>
        <label>Assigned Vaccine Product</label>
        <locationX>605</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>oSelectedVaccineProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vaccine_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>oGetVaccineScheduleDose</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Collection of Immunization Records to be created based on the Vaccine Schedule</description>
        <name>Immunization_Records_Collection</name>
        <label>Immunization Records Collection</label>
        <locationX>1154</locationX>
        <locationY>747</locationY>
        <assignmentItems>
            <assignToReference>oImmunizationRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oIndividualImmunizationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Vaccine_Schedule_Doses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Record of patient vaccine schedule</description>
        <name>New_Patient_Vaccine_Schedule_Record</name>
        <label>New Patient Vaccine Schedule Record</label>
        <locationX>890</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>varPatientVaccineScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Vaccine_Schedule_for_Patient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_Vaccine_Schedule_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>For each dose prepare an immunization record</description>
        <name>Prepare_Immunization_Record</name>
        <label>Prepare Immunization Record</label>
        <locationX>1443</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>oIndividualImmunizationRecord.vxStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oIndividualImmunizationRecord.vxDose_Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Vaccine_Schedule_Doses.Dose_Sequence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oIndividualImmunizationRecord.HealthCloudGA__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oIndividualImmunizationRecord.vxPatient_Vaccination_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPatientVaccineScheduleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oIndividualImmunizationRecord.vxVaccine_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oSelectedVaccineProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oIndividualImmunizationRecord.HealthCloudGA__DoseQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oSelectedVaccineProduct.vxDose_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oIndividualImmunizationRecord.HealthCloudGA__DoseQuantityUnits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oSelectedVaccineProduct.vxDose_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oIndividualImmunizationRecord.HealthCloudGA__DoseQuantityValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oSelectedVaccineProduct.vxDosage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oIndividualImmunizationRecord.vxOffset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Vaccine_Schedule_Doses.Offset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oIndividualImmunizationRecord.HealthCloudGA__RouteLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oSelectedVaccineProduct.vxRoute_of_Administration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oIndividualImmunizationRecord.HealthCloudGA__VaccineTypeLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oSelectedVaccineProduct.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Immunization_Records_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ContinuewithExistingSchedule</name>
        <choiceText>Continue an &lt;b&gt;existing&lt;/b&gt; Vaccine Schedule</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <description>Allows user create a new Vaccine Schedule</description>
        <name>CreateNewVaccineSchedule</name>
        <choiceText>Create a &lt;b&gt;new&lt;/b&gt; Vaccine Schedule for {!oPatientRecord.FirstName} {!oPatientRecord.LastName}</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>LeftArm</name>
        <choiceText>Left Arm</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varSelectedSiteOfAdministration</elementReference>
        </value>
    </choices>
    <choices>
        <name>LeftThigh</name>
        <choiceText>Left Thigh</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varSelectedSiteOfAdministration</elementReference>
        </value>
    </choices>
    <choices>
        <name>NoneSelected</name>
        <choiceText>--- Select ---</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>NoNewVaccineScheduleSelected</elementReference>
        </value>
    </choices>
    <choices>
        <name>NoNewVaccineScheduleSelected</name>
        <choiceText>-- Select a Vaccine Schedule ---&lt;p&gt;{!choiceVaccineSchedules}&lt;/p&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>RightArm</name>
        <choiceText>Right Arm</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varSelectedSiteOfAdministration</elementReference>
        </value>
    </choices>
    <choices>
        <name>RightThigh</name>
        <choiceText>Right Thigh</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>Determines if the Users is Creating a new Vaccine Schedule or continuing with an existing one</description>
        <name>Choose_New_or_Existing_Vaccine_Schedule</name>
        <label>Choose New or Existing Vaccine Schedule</label>
        <locationX>1017</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Assign_existing_Patient_Vaccine_Schedule_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue Existing Vaccine Schedule</defaultConnectorLabel>
        <rules>
            <name>Create_New_Patient_Vaccine_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateNewVaccineSchedule</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Vaccine_Schedule_for_Patient</targetReference>
            </connector>
            <label>Create New Patient Vaccine Schedule</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the User has already set a Vaccination Site</description>
        <name>User_has_current_Vaccination_Site_set</name>
        <label>User has current Vaccination Site set</label>
        <locationX>271</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Get_Patient_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Vaccination Site Allocated</defaultConnectorLabel>
        <rules>
            <name>NoSiteSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oAssignedVaccinationSite.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Vaccination_Site_Set</targetReference>
            </connector>
            <label>No Vaccination Site Allocated</label>
        </rules>
    </decisions>
    <description>Vaccine Administration flow using Vaccine Schedule</description>
    <dynamicChoiceSets>
        <description>Vaccine Schedules Current Assigned to the patient</description>
        <name>choiceCurrentPatientVaccineSchedule</name>
        <dataType>String</dataType>
        <displayField>Schedule_Summary__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>vxPatient_Vaccination_Schedule__c</object>
        <outputAssignments>
            <assignToReference>PatientVaccineSchedule.Vaccine_Schedule__c</assignToReference>
            <field>Vaccine_Schedule__c</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceVaccineSchedules</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>vxVaccine_Schedule__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Displays all active batch numbers for this Vaccination Site</description>
        <name>ChooseActiveBatchNumber</name>
        <dataType>String</dataType>
        <displayField>vxLot_Number__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oAssignedVaccinationSite.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Vaccine_to_be_Administered.vxVaccine_Product__c</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>varSelectedAssetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pkSiteOfAdministration</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>vxRoute_of_Administration__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Vaccine Administration. Name:  {!oPatientRecord.Name} Date of Birth: {!oPatientRecord.HealthCloudGA__BirthDate__pc} . Date: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vaccine Administration</label>
    <loops>
        <description>Loops through the Vaccine Schedule Doses associated with a Vaccine schedule</description>
        <name>Loop_Vaccine_Schedule_Doses</name>
        <label>Loop Vaccine Schedule Doses</label>
        <locationX>1151</locationX>
        <locationY>580</locationY>
        <collectionReference>oGetVaccineScheduleDose</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_Immunization_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Immunization_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates the appropriate number of EHR Immunization records using the Immunization Records Collection Assignment as its source</description>
        <name>Create_Immunization_Records</name>
        <label>Create Immunization Records</label>
        <locationX>1442</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Select_Vaccine_to_be_Administered</targetReference>
        </connector>
        <inputReference>oImmunizationRecords</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creates a new Patient Vaccine Schedule</description>
        <name>Create_New_Vaccine_Schedule_for_Patient</name>
        <label>Create New Vaccine Schedule for Patient</label>
        <locationX>1024</locationX>
        <locationY>415</locationY>
        <connector>
            <targetReference>New_Patient_Vaccine_Schedule_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vaccine_Schedule__c</field>
            <value>
                <elementReference>choiceVaccineSchedules</elementReference>
            </value>
        </inputAssignments>
        <object>vxPatient_Vaccination_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the record details of the Patients Existing Vaccine Schedule</description>
        <name>Get_Existing_Patient_Vaccine_Schedule</name>
        <label>Get Existing Patient Vaccine Schedule</label>
        <locationX>1312</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Vaccine_to_be_Administered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPatientVaccineScheduleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vxPatient_Vaccination_Schedule__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Person__c</queriedFields>
        <queriedFields>Schedule_Status__c</queriedFields>
        <queriedFields>Schedule_Summary__c</queriedFields>
        <queriedFields>Number_of_Doses__c</queriedFields>
        <queriedFields>Vaccine_Schedule__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Patient (Person Account) Record</description>
        <name>Get_Patient_Record</name>
        <label>Get Patient Record</label>
        <locationX>484</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_Vaccine_Schedules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>oPatientRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>HealthCloudGA__Gender__pc</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>HealthCloudGA__BirthDate__pc</queriedFields>
        <queriedFields>HealthCloudGA__MedicalRecordNumber__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets all Vaccine Schedules Associate with the Patient</description>
        <name>Get_Patient_Vaccine_Schedules</name>
        <label>Get Patient Vaccine Schedules</label>
        <locationX>612</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_All_Vaccine_Schedules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oPatientRecord.Id</elementReference>
            </value>
        </filters>
        <object>vxPatient_Vaccination_Schedule__c</object>
        <outputReference>oPatientVaccineSchedules</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Schedule_Summary__c</queriedFields>
        <queriedFields>Schedule_Status__c</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>Person__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Gets the Vaccine Product Id of selected Vaccine Schedule</description>
        <name>Get_Selected_Vaccine_Schedule_Product</name>
        <label>Get Selected Vaccine Schedule Product</label>
        <locationX>757</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vaccine_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>choiceVaccineSchedules</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vxVaccine_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the Vaccine Product Record</description>
        <name>Get_Vaccine_Product</name>
        <label>Get Vaccine Product</label>
        <locationX>605</locationX>
        <locationY>416</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigned_Vaccine_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Administration_Error_No_Vaccine</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Selected_Vaccine_Schedule_Product.Vaccine_Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>vxDose_Unit__c</queriedFields>
        <queriedFields>vxDose_Value__c</queriedFields>
        <queriedFields>vxDosage__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>vxRoute_of_Administration__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets a list of all active Vaccine Schedules</description>
        <name>List_All_Vaccine_Schedules</name>
        <label>List All Vaccine Schedules</label>
        <locationX>730</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Vaccination_Schedule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_Vaccine_Schedules_Configured</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vxVaccine_Schedule__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Number_of_Doses__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the Asset records associated with the Users Vaccination Site Account. The Asset record contains the Batch Number which will be recorded against the Immunization record</description>
        <name>oAssetRecords</name>
        <label>Get Asset Records</label>
        <locationX>1594</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Administer_Vaccine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oAssignedVaccinationSite.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Vaccine_to_be_Administered.vxVaccine_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>vxLot_Number__c</queriedFields>
        <queriedFields>vxLot_Expiry_Date__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Status</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Doses associated with the selected Vaccine Schedule</description>
        <name>oGetVaccineScheduleDose</name>
        <label>GetVaccineScheduleDoses</label>
        <locationX>773</locationX>
        <locationY>580</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Vaccine_Schedule_Doses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vaccine_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>choiceVaccineSchedules</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>vxVaccine_Schedule_Dose__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Dose_Sequence__c</queriedFields>
        <queriedFields>Offset__c</queriedFields>
        <queriedFields>Vaccine_Schedule__c</queriedFields>
        <sortField>Dose_Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Select the Vaccine to be Administered to the Patient</description>
        <name>Select_Vaccine_to_be_Administered</name>
        <label>Select Vaccine to be Administered</label>
        <locationX>1444</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>oAssetRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vxPatient_Vaccination_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPatientVaccineScheduleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>vxStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthCloudGA__EhrImmunization__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HealthCloudGA__VaccineTypeLabel__c</queriedFields>
        <queriedFields>vxPlanned_Administration_Date__c</queriedFields>
        <queriedFields>vxStatus__c</queriedFields>
        <queriedFields>HealthCloudGA__Performer__c</queriedFields>
        <queriedFields>vxVaccine_Stock_Asset__c</queriedFields>
        <queriedFields>HealthCloudGA__SiteLabel__c</queriedFields>
        <queriedFields>vxDose_Sequence__c</queriedFields>
        <queriedFields>HealthCloudGA__DoseQuantityValue__c</queriedFields>
        <queriedFields>HealthCloudGA__RouteLabel__c</queriedFields>
        <queriedFields>vxVaccine_Product__c</queriedFields>
        <sortField>vxDose_Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates Immunization Record</description>
        <name>Update_Immunization</name>
        <label>Update Immunization</label>
        <locationX>1882</locationX>
        <locationY>217</locationY>
        <connector>
            <targetReference>Completed_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Vaccine_to_be_Administered.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HealthCloudGA__DateAdministered__c</field>
            <value>
                <elementReference>Administration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__LotNumber__c</field>
            <value>
                <elementReference>ChooseActiveBatchNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__SiteLabel__c</field>
            <value>
                <elementReference>varSelectedSiteOfAdministration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vxStatus__c</field>
            <value>
                <stringValue>Given</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vxVaccine_Stock_Asset__c</field>
            <value>
                <elementReference>varSelectedAssetId</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__EhrImmunization__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Administer_Vaccine</name>
        <label>Administer Vaccine</label>
        <locationX>1721</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Immunization</targetReference>
        </connector>
        <fields>
            <name>txtPatientDetails</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Patient:&lt;/b&gt; {!oPatientRecord.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Date of Birth: &lt;/b&gt;{!oPatientRecord.HealthCloudGA__BirthDate__pc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtDisplayVaccineDetails</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Administer: &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Select_Vaccine_to_be_Administered.HealthCloudGA__VaccineTypeLabel__c}&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Dose: &lt;/span&gt;&lt;b style=&quot;font-size: 11px;&quot;&gt;{!Select_Vaccine_to_be_Administered.HealthCloudGA__DoseQuantityValue__c}&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Route: &lt;/span&gt;&lt;b style=&quot;font-size: 11px;&quot;&gt;{!Select_Vaccine_to_be_Administered.HealthCloudGA__RouteLabel__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Details&lt;/u&gt;&lt;/p&gt;&lt;p&gt;Vaccine Schedule:&lt;b&gt; {!Get_Selected_Vaccine_Schedule_Product.Name} {!Get_Existing_Patient_Vaccine_Schedule.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Sequence: Dose &lt;b&gt;{!Select_Vaccine_to_be_Administered.vxDose_Sequence__c}&lt;/b&gt; of &lt;b&gt;{!Get_Selected_Vaccine_Schedule_Product.Number_of_Doses__c}  {!Get_Existing_Patient_Vaccine_Schedule.Number_of_Doses__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Planned Administration Date: &lt;b&gt;{!Select_Vaccine_to_be_Administered.vxPlanned_Administration_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Current Administration Status: &lt;/span&gt;&lt;b style=&quot;color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;{!Select_Vaccine_to_be_Administered.vxStatus__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;To proceed &lt;/b&gt;&lt;span style=&quot;color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;with recording the vaccination you must&lt;/span&gt;&lt;b style=&quot;color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt; check the consent tick box below. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>chkConsentObtained</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>{!oPatientRecord.Name} has given consent to be administered {!oSelectedVaccineProduct.Name}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Site_of_Administration</name>
            <choiceReferences>LeftArm</choiceReferences>
            <choiceReferences>RightArm</choiceReferences>
            <choiceReferences>LeftThigh</choiceReferences>
            <choiceReferences>RightThigh</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Site of Administration</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chkConsentObtained</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Batch_Number</name>
            <choiceReferences>ChooseActiveBatchNumber</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a Batch Number</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chkConsentObtained</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Administration_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Administration Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chkConsentObtained</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Administration_Error_No_Vaccine</name>
        <label>Administration Error: No Vaccine</label>
        <locationX>450</locationX>
        <locationY>416</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Product_Not_Found</name>
            <fieldText>&lt;p&gt;Either no Vaccine Product is associated with this Vaccine Schedule or the Product is not Active. Please contact your administrator&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Vaccination_Schedule</name>
        <label>Choose Vaccination Schedule</label>
        <locationX>869</locationX>
        <locationY>217</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Choose_New_or_Existing_Vaccine_Schedule</targetReference>
        </connector>
        <fields>
            <name>Choose_New_or_Existing_Schedules</name>
            <choiceReferences>CreateNewVaccineSchedule</choiceReferences>
            <choiceReferences>ContinuewithExistingSchedule</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>ContinuewithExistingSchedule</defaultSelectedChoiceReference>
            <fieldText>Choose New or Existing Vaccine Schedule</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_New_Vaccine_Schedule</name>
            <choiceReferences>NoneSelected</choiceReferences>
            <choiceReferences>choiceVaccineSchedules</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Create New Vaccine Schedule</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CreateNewVaccineSchedule</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Continue_Existing_Schedule</name>
            <choiceReferences>choiceCurrentPatientVaccineSchedule</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Continue with Existing Schedule</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ContinuewithExistingSchedule</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ListExistingVaccineSchedules</name>
            <fieldText>&lt;p&gt;&lt;b&gt;There are no existing Vaccine Schedules&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Patient_Vaccine_Schedules</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Final Screen in Flow</description>
        <name>Completed_Screen</name>
        <label>Completed Screen</label>
        <locationX>2031</locationX>
        <locationY>216</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completed_Message</name>
            <fieldText>&lt;p&gt;{!Select_Vaccine_to_be_Administered.HealthCloudGA__VaccineTypeLabel__c} has been recorded as administered to {!oPatientRecord.Name} &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Vaccination_Site_Set</name>
        <label>No Vaccination Site Set</label>
        <locationX>279</locationX>
        <locationY>437</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoDefaultVaccinationSite</name>
            <fieldText>&lt;p&gt;No Default Vaccination Site has been set for this User. Ensure a Vaccination Site Resource record exists for this User&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Vaccine_Schedules_Configured</name>
        <label>No Vaccine Schedules Configured</label>
        <locationX>732</locationX>
        <locationY>39</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errNoVaccineSchedules</name>
            <fieldText>&lt;p&gt;No Vaccine Schedules have been set up. Please create a Vaccine Schedule record and at least one Vaccine Schedule Dose record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_User_Vaccination_Site</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Checks current user is a assigned to vaccination site</description>
        <name>Assign_User_Vaccination_Site</name>
        <label>Assign User Vaccination Site</label>
        <locationX>103</locationX>
        <locationY>210</locationY>
        <connector>
            <targetReference>User_has_current_Vaccination_Site_set</targetReference>
        </connector>
        <flowName>vxUser_Vaccination_Site</flowName>
        <outputAssignments>
            <assignToReference>oAssignedVaccinationSite</assignToReference>
            <name>VaccineSiteResources</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>txtConsentObtained</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!oPatientRecord.Name} has given consent to be vaccinated.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtConsentText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;By checking this box &lt;b&gt;{!oPatientRecord.Name}&lt;/b&gt; is confirmed their consent to be vaccinated with &lt;b&gt;{!oSelectedVaccineProduct.Name}&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtObtainConsentInstructions</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Toggle to indicate {!oPatientRecord.Name} has given consent to be vaccinated with {!oSelectedVaccineProduct.Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtPromptToGetConsent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Please obtain consent to continue&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>If true consent have been obtained</description>
        <name>bConsentObtained</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>GetDoseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoVaccineScheduleSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>true</stringValue>
        </value>
    </variables>
    <variables>
        <description>The Default Vaccination Site the current is assigned to</description>
        <name>oAssignedVaccinationSite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>vxVaccination_Site_Resource__c</objectType>
    </variables>
    <variables>
        <description>Collection for Immunization Records prepped prior to commit</description>
        <name>oImmunizationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthCloudGA__EhrImmunization__c</objectType>
    </variables>
    <variables>
        <name>oIndividualImmunizationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthCloudGA__EhrImmunization__c</objectType>
    </variables>
    <variables>
        <description>Object holding the Patient Vaccine Schedule</description>
        <name>oNewPatientVaccineSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>vxPatient_Vaccination_Schedule__c</objectType>
    </variables>
    <variables>
        <description>Holds Patient Record Fields need for this flow</description>
        <name>oPatientRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oPatientVaccineSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>vxPatient_Vaccination_Schedule__c</objectType>
    </variables>
    <variables>
        <description>Vaccine Product that is associated with the Vaccine Schedule</description>
        <name>oSelectedVaccineProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <description>Collection of Vaccine Schedule Dose records</description>
        <name>oVaccineScheduleDoses</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>vxVaccine_Schedule_Dose__c</objectType>
    </variables>
    <variables>
        <description>Details of the Vaccine Schedule Selected</description>
        <name>oVaccineScheduleSelectedDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>vxVaccine_Schedule__c</objectType>
    </variables>
    <variables>
        <name>PatientVaccineSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>vxPatient_Vaccination_Schedule__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDoseCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPatientVaccineScheduleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Create_New_Vaccine_Schedule_for_Patient</elementReference>
        </value>
    </variables>
    <variables>
        <description>Asset Record Id select on Vaccination Administration screen</description>
        <name>varSelectedAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The option selected as the Site of Administration of the Vaccine</description>
        <name>varSelectedSiteOfAdministration</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
